// out
.out
	padding-bottom: 64px
	min-height: 100%
	height: 100%
	height: auto

// leftbar
.rightbar
	padding-top: 40px
	height: 100%
	width: 89%
	vertical-align: top
	display: table-cell
	+r(1280)
		padding-left: 140px
		width: calc(100% - 140px)
	+r(960)
		padding: 30px 0
		width: 100%
		display: block
	.l,
	.header
		margin: 0 auto
		padding: 0 88px 0 103px
		max-width: 1150px
		+r(1024)
			padding: 0 30px
		+r(768)
			padding: 0 20px
	.l
		padding-bottom: 40px
	.l__center
		margin-top: 50px
		.title-square
			margin-top: 55px
			& + .date
				margin-top: -12px
				line-height: 1
			&:first-child
				margin-top: 0
		.date
			text-align: right
			display: block
		.accord
			margin-top: 20px
			&:first-child
				margin-top: 0
	.stat
		margin-top: 40px
	.header
		+r(960)
			display: none
	.l-col1,
	.l-col2
		+r(960)
			padding-left: 0
			width: 100%

// sidebar
.sidebar
	position: fixed
	padding: 68px 20px 10px
	width: 11%
	height: 100%
	color: $white
	text-align: center
	vertical-align: top
	display: table-cell
	background: $dark-gray
	+clr
	+r(1280)
		width: 140px
	+r(960)
		position: relative
		padding: 12px 45px
		width: 100%
		height: 50px
		display: block
	.nav
		margin-top: 126px
		+r(960)
			margin: 80px 0 72px

// l
.l
	+clr
	&__in
		+clr
	&__center
		margin: 0 auto
		max-width: 486px
	.title-little
		margin: 32px 0 12px
		&:first-child
			margin-top: 0
.l-col1
	float: left
	width: 52%
	& > .title-large
		line-height: 0.7
	.title-large
		color: $yellow
.l-col2
	float: right
	padding-left: 32px
	width: 48%
	&.is-mod
		+r(960)
			margin-top: 45px

// logo-wrap
.logo-wrap
	position: fixed
	left: 0
	width: 11.7%
	min-width: 140px
	+r(960)
		position: static
		left: auto
		width: auto
		min-width: 0

// logo
.logo
	transform: translate3d(0,0,0)
	+svg(logo,158,172)
	+r(768)
		+svg(logo,117,128)
	&.is-teacher
		+svg(logo-teacher,51,56)
		+r(960)
			float: left
			+svg(logo_960,109,23)
	&.is-student
		+svg(logo-student,84,91)
		+r(960)
			float: left
			+svg(logo-student-small,109,23)

// input
.input
	padding: 0 20px
	height: 30px
	width: 100%
	+lr
	color: rgba($black, .4)
	letter-spacing: 0.05em
	font-size: 16px
	border-radius: 4px
	border: 2px solid $black
	background: transparent
	display: block
	+r(768)
		padding: 0 10px
		font-size: 12px
	&:focus
		&::placeholder
			font-size: 0
	&::placeholder
		color: rgba($black, .4)

// btn
.btn
	padding: 8px 30px
	color: $white
	+lb
	font-size: 11px
	text-transform: uppercase
	transition: background .2s, color .2s, opacity .2s
	border-radius: 4px
	letter-spacing: .1em
	line-height: 1.3
	text-align: center
	border: 2px solid $black
	background: $black
	display: inline-block
	&:hover
		color: $black
		background: transparent
	&:disabled
		opacity: .5
		cursor: default
	&_yellow
		color: $black
		border-color: $yellow
		background: $yellow
		&:hover
			color: $yellow
	&_red
		border-color: $red
		background: $red
		&:hover
			color: $red
	&_bord
		color: $black
		background: transparent
		&:hover
			color: $white
			background: $black
		&:disabled
			&:hover
				color: $black !important
				background: transparent !important
	&_yellow-all
		border-color: $yellow
		background: $yellow
		&:hover
			color: $black !important
			background: transparent
	&_r6
		border-radius: 6px
	&_little
		padding: 10px 12px 
		font-size: 9px
		line-height: 1.2
	&_small
		padding: 6px 17px

// cancel
.cancel
	+lb
	font-size: 9px
	line-height: 1.3
	text-transform: uppercase
	will-change: opacity
	transform: translate3d(0,0,0)
	transition: opacity .2s
	opacity: .5
	border-bottom: 1px solid $black
	background: transparent
	display: inline-block
	+r(768)
		font-size: 12px
	&:hover
		opacity: 1

.lesson
	+lb
	text-align: left
	text-align-last: left
	display: inline-block

// field
.field
	margin-top: 23px
	+clr
	&:first-child
		margin-top: 0
	.input
		float: right
		padding: 0 10px
		height: 43px
		width: calc(100% - 43px)
		border-color: $yellow
		border-radius: 0 4px 4px 0
	&__label
		float: left
		height: 43px
		width: 43px
		line-height: 41px
		font-size: 26px
		text-align: center
		cursor: pointer
		user-select: none
		border-radius: 4px 0 0 4px
		background: $yellow
		.icon
			vertical-align: middle
			display: inline-block

// soc
.soc
	font-size: 0
	+clr
	.icon
		font-size: 25px
		vertical-align: middle
		+r(768)
			font-size: 18px
		&-vk
			font-size: 14px
			+r(768)
				font-size: 12px
	li
		margin-left: 36px
		vertical-align: top
		display: inline-block
		+r(768)
			margin-left: 25px
		&:first-child
			margin-left: 0
	a
		height: 41px
		width: 41px
		text-align: center
		color: $yellow
		line-height: 39px
		transition: background .2s, color .2s
		border-radius: 50%
		border: 2px solid $black
		background: $black
		display: block
		+r(768)
			width: 32px
			height: 32px
			line-height: 28px
		&:hover
			color: $black
			background: transparent
	&__left
		float: left
		width: 50%
		font-size: 14px
		text-align: right
		+r(768)
			width: 100%
			text-align: center
	&__right
		float: right
		padding-left: 17px
		width: 50%
		text-align: left
		+r(768)
			width: 100%
			text-align: center
		ul
			+r(768)
				margin-top: 40px
			li
				margin-left: 7px
				+r(768)
					margin-left: 35px
					&:first-child
						margin-left: 0
				&:first-child
					margin-left: 0
	&__check
		margin-top: 15px
		.checkbox
			font-size: 10px
	&__text
		line-height: 1.2

// checkbox
.checkbox
	position: relative
	cursor: pointer
	user-select: none
	&.is-right
		span
			padding-left: 0
			padding-right: 20px
			&:before
				left: auto
				right: 0
			&:after
				left: auto
				right: -2px
	input,
	span:before
		position: absolute
		top: 1px
		left: 0
		width: 10px
		height: 10px
	input
		z-index: 2
		opacity: 0
		cursor: pointer
		&:checked
			& + span
				&:after
					display: block
	span
		position: relative
		padding-left: 20px
		font-size: 11px
		&:before
			content: ''
			border: 1px solid $black
		&:after
			position: absolute
			content: ''
			top: 0
			left: 2px
			+svg(checkbox-arr, 10,7)
			display: none

// radiobutton
.radiobutton
	position: relative
	user-select: none
	cursor: pointer
	+r(768)
		font-size: 18px
		display: block
	input,
	span:before
		position: absolute
		top: 2px
		left: 0
		width: 14px
		height: 14px
		border-radius: 50%
	input
		z-index: 2
		opacity: 0
		cursor: pointer
		&:checked
			& + span
				+r(768)
					+lb
					background: $white
					.radiobutton__text
						+lr
				&:after
					transform: scale(1)
	& > span
		padding-left: 30px
		display: block
		+clr
		+r(768)
			padding: 15px 0
			width: 100%
			background: $bg-rad
			display: table
		&:before,
		&:after
			+r(768)
				display: none
		&:before
			content: ''
			border: 1px solid $black
		&:after
			position: absolute
			content: ''
			top: 6px
			left: 4px
			width: 6px
			height: 6px
			transform: translate3d(0,0,0)
			transform: scale(0)
			transition: transform .2s
			border-radius: 50%
			background: $black
		span
			padding-left: 0
			display: block
			+r(768)
				width: 50%
				display: table-cell
				&:first-child
					padding-left: 10px
	&__text
		font-size: 11px
		opacity: .5
		&:before,
		&:after
			display: none


// label
.label
	margin-bottom: 5px
	+lb
	cursor: pointer
	user-select: none
	display: block

// forgot
.forgot
	&:hover
		span
			border-color: transparent
	span
		transition: border-color .2s
		border-bottom: 1px solid $black

// title
.title
	+rb
	font-size: 48px
	line-height: 1.1
	letter-spacing: .14em
	+r(768)
		font-size: 28px

.title-large
	+rb
	font-size: 57px
	line-height: 1
	letter-spacing: 0.015em
	+r(768)
		font-size: 40px
		text-align: center
	&.is-yellow
		color: $yellow

.title-big
	font-size: 72px
	line-height: 1.25
	letter-spacing: .1em
	text-transform: uppercase
	+lb
h1,
.title-middle
	+lb
	font-size: 36px
	letter-spacing: .11em
	+r(768)
		font-size: 24px

.title-medium
	font-size: 29px
	line-height: 1.3
	+lb

.title-small
	font-size: 24px
	+lb
	letter-spacing: .05em
	+r(768)
		font-size: 18px

.title-little
	font-size: 18px
	+lb
	line-height: 1.2
	+r(768)
		font-size: 24px

.title-petty
	font-size: 16px
	+lb

.title-wee
	font-size: 14px
	+lb
	+r(768)
		font-size: 24px

.title-square
	position: relative
	padding: 10px 10px 10px 25px
	+lb
	font-size: 14px
	line-height: 1
	text-transform: uppercase
	&:before
		position: absolute
		content: ''
		top: 0
		left: 0
		width: 35px
		height: 35px
		background: $yellow
	span
		position: relative

.title-bord
	padding-bottom: 8px
	+lb
	font-size: 14px
	border-bottom: 5px solid $yellow
	+r(768)
		font-size: 16px

// mouse
.mouse
	font-size: 0
	vertical-align: top
	display: inline-block
	&:hover
		.icon
			animation: mouse 1s infinite linear
	&__text
		margin-top: 5px
		letter-spacing: .1em
		font-size: 11px
		+lb
		display: block
	.icon
		font-size: 47px
		transform: translate3d(0,0,0)

@keyframes mouse
	0%
		transform: translateY(0%)
	25%
		transform: translateY(6%)
	50%
		transform: translateY(0%)
	75%
		transform: translateY(6%)
	100%
		transform: translateY(0)

// picture
.picture
	position: relative
	padding: 74px 0
	height: 382px
	color: $white
	+lb
	letter-spacing: 0.2em
	line-height: 1.2
	text-transform: uppercase
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 0
	background-attachment: fixed
	z-index: 2
	background-color: $bg-pic
	+r(480)
		min-height: 382px
		height: auto
		background-image: none !important
	.title-big
		& + p
			margin-top: 7px
	p 
		&:first-child
			margin-top: 12px
		& + .title-big
			margin-top: 12px
	&__in
		text-align: center
		font-size: 36px
		@extend %cent
	&__but
		margin-top: 25px

// circle
.circle
	position: relative
	width: 152px
	height: 152px
	border-radius: 50%
	background: $dark-gray
	+r(768)
		width: 120px
		height: 120px
	&:before,
	&:after
		position: absolute
		content: ''
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		border-radius: 50%
	&:before
		height: 102px
		width: 102px
		border: 10px solid rgba($white, .1)
		+r(768)
			width: 80px
			height: 80px
	&:after
		height: 208px
		width: 208px
		border: 10px solid rgba($white, .6)
		+r(768)
			width: 160px
			height: 160px

// time-day time cost
.time-day,
.time,
.cost
	vertical-align: top
	display: inline-block

.time-day
	+lb

.cost
	span
		+lb

// wrap
.wrap
	text-align: left
	+clr
	+r(768)
		padding-left: 60px

// row
.row
	margin-top: 24px
	+clr
	+r(768)
		margin-top: 28px
	&:first-child
		margin-top: 0

// col
.col
	float: left
	width: calc(100% - 190px)
	letter-spacing: .08em
	+lr
	+r(768)
		width: 100%
	&:first-child
		padding-right: 30px
		width: 190px
		+lb
		text-align: right
		+r(768)
			width: 100%
			text-align: left
			br
				display: none

// error-text
.error-text
	margin-bottom: 5px
	text-align: left
	display: none
	&.is-active
		display: block
	.icon
		margin: 2px 5px 0 0
		color: $red
		vertical-align: top

// tabs
.tabs
	&__cont
		display: none
		+clr
	&__wrap
		.hour
			margin: 12px 0 0
			width: 100%
			& + .tabs__cont
				+r(768)
					margin: 20px 0
					&:last-child
						margin-bottom: 0
					.table
						margin: 0
			&:first-child
				margin-top: 0

// tab
.tab
	margin: 50px 0
	font-size: 0
	+lb
	li
		margin-left: 35px
		min-width: 172px
		font-size: 12px
		vertical-align: top
		text-align: center
		color: $c_hour
		transition: background .2s, color .2s
		text-transform: uppercase
		background: $bg-tab
		display: inline-block
		&:first-child
			margin-left: 0
		&:hover,
		&.is-active
			color: $black
			background: $yellow
		+r(768)
			margin: 20px 0 0
			width: 100%
			font-size: 18px
			&:first-child
				margin-top: 0
	a
		padding: 7px 15px
		display: block

// table
.table
	margin-top: 19px
	border: 2px solid $bd-table
	&.is-yellow
		border-color: $yellow
		.table__row
			border-color: $yellow
		.table__right
			border-color: $yellow
	&.is-numb
		counter-reset: list
		.table__row
			padding-left: 65px
			+r(768)
				padding-left: 50px
			&:before
				position: absolute
				counter-increment: list
				content: counter(list)'.'
				width: 42px
				top: 0
				left: 0
				bottom: 0
				+lbd
				text-align: right
				line-height: 37px
				+r(768)
					width: 32px
	&.is-consult
		.table__row
			line-height: 45px
	&.is-appraisal
		.table__row
			+r(768)
				padding-left: 0
				&:before
					display: none
				.table__name
					text-align: center
	&__row
		position: relative
		padding-left: 15px
		width: 100%
		line-height: 35px
		border-top: 1px solid $bd-table
		display: table
		+clr
		&:first-child
			border-top: none
	&__name,
	&__right,
	&__time,
	&__group,
	&__point
		display: table-cell
	&__time,
	&__group
		+lb
	&__right
		width: 60px
		text-align: center
		border-left: 1px solid $bd-table
	&__time
		width: 87px
		+r(960)
			width: 70px
	&__name
		+r(768)
			width: 100%
			display: block
		& + .table__group
			padding-left: 8px
			width: 40px
	&__point
		width: 68%
		font-size: 0
		vertical-align: top
		text-align: center
		+r(768)
			width: 100%
			border-top: 1px solid $bd-table
			display: block
	&__col
		width: 33.3%
		vertical-align: top
		border-left: 1px solid $bd-table
		display: inline-block
		+r(768)
			&:first-child
				border-left: none
	&__left
		width: 100%
		display: table
		+clr
		& + .table__right
			.visiting
				+r(768)
					line-height: 1
					vertical-align: bottom
					display: inline-block
		.table__name,
		.table__time,
		.table__group
			+r(768) 
				display: inline-block
		.table__name
			+r(768)
				float: left
				margin-top: -15px
				width: 100%
	a
		transition: border-color .2s
		border-bottom: 1px solid transparent
		&:hover
			border-color: $black

// progress-table
.progress-table
	table-layout: fixed
	border-bottom: 1px solid $yellow
	&:last-child
		border-bottom: none
		tfoot
			tr
				&:first-child
					td
						padding-top: 0
				&:last-child
					td
						padding-bottom: 0
	td
		padding: 4px 0
		width: 33.3%
		text-align: center
		vertical-align: top
		&:first-child
			text-align: left
		&:last-child
			text-align: right
	thead th
		padding-bottom: 12px
		+lb
		font-size: 16px
		text-align: left
	tfoot
		td
			width: 50%
		tr
			&:first-child
				td
					padding-top: 26px
			&:last-child
				td
					padding-bottom: 30px
	.date
		+lb
	.btn
		margin-top: -5px
		width: 100%

// step-ico
.step-ico
	width: 105px
	height: 105px
	line-height: 102px
	vertical-align: top
	border-radius: 50%
	overflow: hidden
	text-align: center
	background: $yellow
	display: inline-block
	+r(768)
		width: 60px
		height: 60px
		line-height: 55px
	&:first-child
		margin-left: 0
	.icon
		vertical-align: middle
		img
			+r(768)
				width: 80%

// accord
.accord
	& + .accord
		margin-top: -2px
	&.is-active,
	&:hover
		.accord__top
			border-color: $yellow
			background: $yellow
			&:before
				+arr(15,7,$light-black,b)
		& + .accord
			.accord__top
				border-top-color: $yellow
	&.is-active
		margin-top: 0
		.accord__top
			&:before
				transform: rotate(180deg)
		& + .accord
			.accord__top
				border-top-color: $bd-table
	.table
		margin: 0
	.group-name
		padding-right: 8px
		width: 50px
		text-align: center
		+r(960)
			width: 70px
		+r(768)
			width: 35px
			text-align: left
	.time
		width: 100px
	.theme
		font-size: 12px
		+lr
		+r(768)
			width: 100%
	.group-name,
	.time,
	.theme,
	.day
		display: table-cell
		+r(768)
			display: inline-block
	.day
		padding-left: 20px
		text-transform: uppercase
	&__top
		position: relative
		padding: 14px 50px 14px 14px
		width: 100%
		cursor: pointer
		+lb
		user-select: none
		transition: border-color .2s, background .2s
		border: 2px solid $bd-table
		+r(768)
			padding: 5px 50px 5px 14px
		&:before
			position: absolute
			content: ''
			right: 25px
			top: 50%
			margin-top: calc(-7px / 2)
			transition: border-color .2s, transform .2s
			+arr(15,7,$bd-table,b)
	&__tabl
		width: 100%
		display: table
	&__block
		display: none

// group-name
.group-name
	&__subgroup
		+r(768)
			display: none

// date
.date
	&.is-bold
		+lb

// alert
.alert
	margin: 28px auto 0
	max-width: 348px
	font-size: 12px
	+r(768)
		max-width: 100%
		margin: 15px -20px 18px 0
		font-size: 14px
	&__in
		width: 100%
		border: 2px solid
		display: table
	&__ico
		position: relative
		width: 35px	
		text-align: center
		border-right: 2px solid
		.icon
			position: absolute
			top: 50%
			left: 50%
			font-size: 24px
			color: $white
			transform: translate(-50%,-50%)
	&__ico,
	&__wrap
		vertical-align: top
		display: table-cell
	&__wrap
		padding: 8px 18px
		color: $black

// tablet block
.is-hide-tablet
	+r(960)
		display: none !important
.is-show-tablet
	display: none
	+r(960)
		display: block

// mobile block
.is-hide-mobile
	+r(768)
		display: none !important
.is-show-mobile
	display: none !important
	+r(768)
		display: block !important

// text
// .text
// 	position: relative
// 	display: inline-block
// 	width: 600px
// 	height: 40px
// 	font-family: 'Open Sans', sans-serif
// 	font-weight: 600
// 	font-size: 40px
// 	z-index: 200

// 	p
// 		display: inline-block
// 		vertical-align: top
// 		margin: 0

// .word
// 	position: absolute
// 	width: auto
// 	opacity: 0

// .letter
// 	display: inline-block
// 	position: relative
// 	float: left
// 	padding: 0
// 	transform: translateZ(25px)
// 	transform-origin: 50% 50% 25px
// 	&.outs
// 		transform: rotateX(90deg)
// 		transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19)
// 	&.behind
// 		transform: rotateX(-90deg)
// 	&.in
// 		transform: rotateX(0deg)
// 		transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275)
