// footer
.footer
	margin-top: -54px
	padding: 15px 0 17px
	color: $white
	font-size: 8px
	&__in
		@extend %in

// copy
.copy
	float: right
	width: 100px
	& + .dev
		margin-left: 20px

// dev
.dev
	float: right
	min-width: 130px