// footer
.footer
	margin-top: -54px
	padding: 15px 0 17px
	color: $white
	font-size: 8px
	&__in
		@extend %in
		padding-left: 123px
		padding-right: 123px

// copy
.copy
	float: right
	width: 115px
	& + .dev
		margin-left: 20px

// dev
.dev
	float: right
	min-width: 130px