// footer
.footer
	position: relative
	margin-top: -64px
	padding: 15px 0 17px
	color: $white
	font-size: 12px
	z-index: 2
	background: $dark-gray
	&__in
		@extend %in
		padding-left: 123px
		padding-right: 123px
		+r(768)
			padding-left: 85px
			padding-right: 50px
			font-size: 10px
		+r(480)
			padding: 0 15px
			text-align: center
	.copy,
	.dev
		+r(480)
			float: none
			margin-top: 10px
			width: 100%
			&:first-child
				margin-top: 0

// copy
.copy
	float: left
	margin-top: 10px
	width: 115px
	+r(768)
		float: left
		width: 90px
	& + .dev
		margin-left: 20px

// dev
.dev
	float: right
	min-width: 130px