// header
.header
	position: relative
	padding: 90px 0 320px
	overflow: hidden
	+r(768)
		padding: 0 0 320px
	&.is-home
		&:before
			position: absolute
			content: ''
			top: 0
			left: 50%
			margin: -325px 0 0 -325px
			width: 650px 
			height: 650px
			+rotate(45)
			background: $white
			+r(1024)
				margin-top: -378px
			+r(768)
				margin-top: -414px
	.menu
		float: right
		margin-right: 117px
		+r(1024)
			margin-right: 60px
		+r(768)
			margin-right: 32px
	&__in 
		position: relative
		@extend %in 
		+r(768)
			padding: 13px 15px 10px
			color: $white
			background: $black
	&__left
		float: left
	.logo
		position: absolute
		top: 0
		left: 50%
		margin-left: -92px
		z-index: 1
		+r(768)
			top: 96px
			margin-left: -68px

// menu
.menu
	position: relative
	+r(768)
		line-height: 1
	&.is-active
		.menu__btn
			&:before
				transform: translateY(11px) rotate(45deg)
			&:after
				transform: translateY(-12px) rotate(-45deg)
				+r(768)
					transform: translateY(-10px) rotate(-45deg)
			span
				transform: translate3d(0,0,0)
				transform: scale(0)
				opacity: 0
		.menu__list
			visibility: visible
			opacity: 1
			z-index: 1

	&__btn
		position: relative
		padding-top: 35px
		width: 35px
		+lb
		line-height: 1
		background: transparent
		+r(769)
			padding-top: 25px
			width: 30px
			font-size: 0
		&:before,
		&:after,
		span:before
			position: absolute
			content: ''
			left: 0
			right: 0
			height: 5px
			background: $black
			transition: transform .3s
			+r(769)
				background: $white
		&:before
			top: 0
		&:after
			top: 23px
			+r(768)
				top: 21px
		span
			will-change: opacity
			transition: opacity .3s, transform .3s
			&:before
				top: 11px
				+r(768)
					top: 10px
	&__list
		position: absolute
		top: 0
		left: -1px
		margin-top: 30px
		padding-bottom: 5px
		visibility: hidden
		z-index: -1
		opacity: 0
		padding: 165px 0
		will-change: opacity
		transform: translate3d(0,0,0)
		transition: opacity .3s
		+lr
		font-size: 24px
		+r(1024)
			font-size: 21px
		+r(768)
			position: fixed
			top: 50px
			left: 0
			right: 0
			bottom: 0
			margin: 0
			color: $black
			+lbd
			line-height: 1.3
			font-size: 30px
			overflow: auto
			text-align: center
			background: $white
		&:before
			position: absolute
			content: ''
			bottom: -5px
			left: 0
			width: 35px
			height: 5px
			background: $black
			+r(768)
				left: 50%
				top: 135px
				bottom: auto
				margin-left: calc(-35px / 2)
		li
			display: block
			&.is-active
				+lb
			&:last-child
				position: relative
				&:after
					position: absolute
					content: ''
					left: 50%
					bottom: -35px
					margin-left: calc(-35px / 2)
					width: 35px
					height: 5px
					background: $black
					display: none
					+r(768)
						display: block
	a
		transition: font-weight .2s, font-family .2s
		&:hover
			+lb

// lang
.lang
	float: left
	margin: 7px 25px 0 0
	+lb
	letter-spacing: 1px
	font-size: 0
	+r(1024)
		margin-right: 15px
	li
		margin-left: 19px
		font-size: 11px
		vertical-align: top
		display: inline-block
		&:first-child
			margin-left: 0
	a
		&:hover
			span
				border-color: $black
		span
			transition: border-color .2s
			border-bottom: 1px solid transparent

// login
.login
	position: relative
	float: right
	margin-right: 15px
	&.is-active
		.login__form
			opacity: 1
			visibility: visible
			z-index: 1
	&__btn
		font-size: 0
		vertical-align: top
		background: transparent
		display: inline-block
		+r(768)
			color: $white
		.icon
			font-size: 28px
			+r(768)
				font-size: 26px
	&__form
		position: absolute
		top: 100%
		left: -1px
		margin-top: 16px
		width: 195px
		opacity: 0
		visibility: visible
		z-index: -1
		transform: translate3d(0,0,0)
		will-change: opacity
		transition: opacity .3s
	&__row
		margin-top: 10px
		&:first-child
			margin-top: 0
	&__bott
		margin-top: 20px
		.btn
			margin-right: 22px
		.forgot
			font-size: 11px
			span
				letter-spacing: 1px
	&__label
		margin-bottom: 5px
		+lb
		font-size: 11px
		cursor: pointer
		user-select: none
		display: block

// play
.play
	float: right
	.icon
		font-size: 28px
	&__btn
		font-size: 0
		vertical-align: top
		background: transparent
		display: inline-block

// logo
.logo
	transform: translate3d(0,0,0)
	+svg(logo,158,172)
	+r(768)
		+svg(logo,117,128)