// paralax
.paralax
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 1
	overflow: hidden
	+clr
	+r(768)
		display: none
	&__left
		float: left
		position: relative
		top: 0
		left: 0
		transition: transform .8s
	&__right
		float: right
		position: relative
		top: 0
		right: 0%
		transition: transform .8s
	&__svg
		position: relative
		animation: translate 40s infinite normal linear
		g
			transform: translate3(0,0,0)
			transform-origin: 50% 50%
			// animation: rotate 7.8s infinite normal linear
			animation-name: rotate
			animation-timing-function: linear
			animation-iteration-count: infinite
			$animation-delay: 0s
			animation-duration: 4.8s
			@for $i from 1 through 29
				&:nth-child(#{$i}) 
					animation-delay: $animation-delay
					$animation-delay: $animation-delay + .2s

@keyframes rotate
	0%
		transform: rotate(-180deg)

	100%
		transform: rotate(180deg)

@keyframes translate
	0%
		transform: translateY(0)
	25%
		transform: translateY(5%)
	50%
		transform: translateY(0)
	75%
		transform: translateY(5%)
	100%
		transform: translateY(0)