// popup
.popup
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 100
	padding: 30px 0
	color: $black
	opacity: 0
	visibility: hidden
	z-index: -1
	transform: translate3d(0,0,0)
	will-chenge: opacity
	background: rgba($black, .6)
	+vertical
	overflow-y: scroll
	transition: opacity .4s ease-in, z-index .4s ease-in, visibility .4s ease-in
	&.is-active
		opacity: 1
		visibility: visible
		z-index: 100
		.popup__in
			transform: scale(1) 
	&__in
		position: relative
		margin-top: 100px
		padding: 55px 80px 80px
		width: 100%
		max-width: 513px
		font-size: 14px
		vertical-align: top
		display: inline-block
		background: $white
		transform: translate3d(0,0,0)
		transition: transform .4s
		transform: scale(0.4)
		+r(1024)
			margin-top: 50px
		+r(768)
			padding: 45px 40px 40px
	&__close
		position: absolute
		top: -38px
		right: 0
		color: $white
		font-size: 0
		will-chenge: opacity
		transform: translate3d(0,0,0)
		transition: opacity .2s
		background: transparent
		&:hover
			opacity: .7
		&:active
			opacity: 1
			color: $white
		.icon
			font-size: 20px
	&__title
		margin-bottom: 30px
		+rb
		font-size: 29px
		line-height: 1.3
	&__form
		margin: 43px auto 0
		max-width: 240px
	&__check
		margin-top: 25px
		text-align: left
	&__butt
		margin-top: 40px
		.btn
			padding: 8px 10px
	&__chenge
		margin-top: 45px
		a
			line-height: 1.3
			transition: border-color .2s
			border-bottom: 1px solid $black
			display: inline-block
			&:hover
				border-color: transparent
	&__row
		margin-top: 50px
		&:first-child
			margin-top: 0
	&__textleft
		text-align: left
	&__progress
		padding: 70px 25px 0
		text-align: left
		+r(768)
			padding: 85px 0 0
	&__indexes
		position: absolute
		top: 0
		left: 100px
		+clr
		+r(768)
			left: 45px
		.group-name
			float: left
			padding: 40px 25px 10px
			+rb
			font-size: 30px
			background: $yellow
			& + .subgroup-name
				margin-left: 20px
		.subgroup-name
			float: left
			padding: 44px 7px 1px
			+rb
			font-size: 18px
			background: $bg-subgroup
	&__form
		margin: 0 auto
		width: 240px
		.row
			margin-top: 40px
			&:first-child
				margin-top: 0
		.btn
			padding: 8px 15px
	.label
		margin-bottom: 12px
	.input
		text-align: center
		height: 42px
		font-size: 18px
		color: $black
	.title-medium
		margin: 35px 0 45px
		&:first-child
			margin-top: 0
	.title-petty
		margin: 35px 0 11px
	// &__wrap
	// 	width: 350px
.progress-table
	table-layout: fixed
	border-bottom: 1px solid $yellow
	&:last-child
		border-bottom: none
		tfoot
			tr
				&:first-child
					td
						padding-top: 0
				&:last-child
					td
						padding-bottom: 0
	td
		padding: 4px 0
		width: 33.3%
		text-align: center
		vertical-align: top
		&:first-child
			text-align: left
		&:last-child
			text-align: right
	tfoot
		td
			width: 50%
		tr
			&:first-child
				td
					padding-top: 26px
			&:last-child
				td
					padding-bottom: 30px
	.date
		+lb