// student pages style
body.is-student
	.out
		width: 100%
		height: 100%
		display: inline-table
		+r(960)
			display: block
	.sidebar
		padding-top: 40px
		background: $yellow
	.rightbar
		position: relative
	.logo
		margin-left: -8px
	.header
		position: static
		padding: 0 138px 30px 103px
		max-width: 1200px
		&__in
			padding: 0
	.logout
		color: $white
		.logout__link
			float: right
			transition: color .2s
			&:hover
				color: $yellow
	.lang
		margin: -1px 0 0
		text-transform: uppercase
		& + .logout__link
			margin-left: 12px
		li
			margin: 12px 0 0
			font-size: 9px
			line-height: 1
			display: block
			&:hover,
			&.is-active
				color: $yellow
			&:first-child
				margin-top: 0
	.l
		padding: 35px 138px 35px 103px
		max-width: 1200px
	.l-col1
		width: 54%
	.l-col2
		width: 46%
	.accord
		font-size: 16px
		&:hover + .accord .accord__top
			border-top-color: $white
		& + .accord.is-active
			margin-top: -2px
		.accord__top
			padding: 18px 30px
			border-left: none
			border-right: none
			border-top-color: $white
			border-bottom-color: $white
			&:before
				right: 35px
				+arr(15,7,$white,b)
		.accord__block
			padding: 25px 30px
			border: 2px solid 
			border-top: none
		.theme
			font-size: 16px
	.row
		margin-top: 10px
		+justify
		&.is-mod
			.btn
				margin-top: -16px
				vertical-align: top
		&:first-child
			margin-top: 0
		span,
		div
			line-height: 1.3
			font-size: 14px
			display: inline-block
	.item
		margin: 0 -30px
		padding: 25px 30px
		border-top: 1px solid
		&:first-child
			margin-top: -25px
		&:last-child
			margin-bottom: -25px
	.status
		margin-top: -25px
		padding: 5px 12px 19px
		+lb
		vertical-align: top
		display: inline-block
	.no-places
		margin-top: -10px
		+lb
		text-transform: uppercase
		font-size: 9px
		vertical-align: top
		opacity: .5
	.lesson
		min-width: 70px

// mixin to step colors
=step-colors($color)
	.header,
	.alert
		color: $color
	.tract,
	.timesheet,
	.alert__ico
		background: $color
	.accord
		&.is-active 
			&:hover
				.accord__top
					border-bottom-color: darken($color, 10%)
			.accord__top
				border-bottom-color: $color
			& + .accord 
				&:hover
					.accord__top
						border-top-color: darken($color, 10%)
				.accord__top
					border-top-color: $color
		.accord__top
			background: $color
		.accord__block
			border-color: $color
		&:hover
			.accord__top
				background: darken($color, 10%)
	.btn_bord
		&:hover
			color: $color
	.icon-arr-right
		color: $color
	.item,
	.appraisal
		border-color: $color
	.btn_color
		border-color: $color
		&:hover
			color: $white 
			background: $color
	.status
		background: $color
	.appraisal__item
		border-color: $color

.rightbar
	&.is-step1
		+step-colors($yellow-brown)
	&.is-step2
		+step-colors($purple)
	&.is-step3
		+step-colors($light-green)
	&.is-step4
		+step-colors($light-green2)

// numb-step
.numb-step
	position: absolute
	left: 0
	right: 0
	bottom: 0
	+rb
	&__item
		font-size: 165px
		line-height: .78
	&__text
		font-size: 36px

// stud-name
.stud-name
	float: left
	margin-top: -10px
	font-size: 36px
	line-height: 1.3
	color: $white
	+rb

// steps
.strides
	width: 100%
	+clr
	.step:last-child
		.progress
			&:before
				position: absolute
				content: ''
				top: 50%
				right: -2px
				height: 20px
				margin-top: -10px
				border-right: 2px solid

.step
	float: left
	margin-left: 1.25%
	width: 24%
	+lb
	font-size: 16px
	text-align: center
	&.is-active
		.date
			opacity: 1
			z-index: 1
		.step__stat
			display: inline
		.step__bot
			opacity: 1
	&:first-child
		margin-left: 0
	.date
		color: inherit
		opacity: 0
		z-index: -1
	&__bot
		color: $white
		opacity: .6
	&__stat
		display: none

// progress
.progress
	position: relative
	margin: 8px 0
	height: 13px
	border: 2px solid
	&__in
		border-top: 9px solid

// tract
.tract
	padding: 13px 35px
	+clr
	&__name
		float: left
		font-size: 16px
		line-height: 34px
		+lb
		span
			line-height: 1.3
			vertical-align: middle
			display: inline-block
	&__right
		float: right

// timesheet
.timesheet
	margin-top: 14px
	padding: 30px 35px
	font-size: 16px
	&:first-child
		margin-top: 0
	&__row
		margin-top: 5px
		+clr
		&:first-child
			margin-top: 0
	&__left
		float: left
	&__right
		float: right
		.btn
			margin-top: 5px
	&__title
		+lb
	&__day
		min-width: 35px
		+lbd
		text-transform: uppercase
	&__day,
	&__time
		display: inline-block
	.btn
		min-width: 136px

// postponed
.postponed
	.from,
	.to,
	.cancel
		line-height: 1.3
		font-size: 14px
		display: inline-block
	.cancel
		font-size: 9px
	.icon-arr-right
		font-size: 8px

// to
.to,
.bold
	+lb
	display: inline-block

// appraisal
.appraisal
	.progress-table
		border-bottom: none
		thead + tfoot
			tr
				&:first-child
					td
						padding-top: 0
		tfoot
			td
				padding-top: 25px
		tfoot tr
			&:first-child td
				padding-top: 12px
			&:last-child td
				padding-bottom: 0
	.date
		+lr
	.test
		opacity: .5
	&__item
		margin: 0 -50px
		padding: 25px 50px 0
		border-top: 1px solid
		display: none
		&:first-child
			border-top: none
		.progress-table
			tfoot
				td
					padding-top: 12px

// tile
.tile
	margin-top: 25px
	&:first-child
		margin-top: 0
	.thisban
		height: 180px
		background: $yellow

// set
.set
	margin-top: 25px
	padding: 25px 50px 30px
	text-align: center
	border: 5px solid $yellow
	&:first-child
		margin-top: 0
	.btn
		margin-top: 25px
		width: 100%
	.title-petty
		margin-bottom: 5px