div.ui-datepicker 
	width: 18em
	border: none
	+r(480)
		position: relative
		width: 17em
		left: -3px
	.ui-datepicker-header
		padding: 0
		border: none
		background: transparent
		+clr
	.ui-datepicker-title
		float: left
		padding-right: 62px
		margin: 0 
		font-size: 18px
		+lb
		+r(768)
			font-size: 24px
	.ui-datepicker-prev, 
	.ui-datepicker-next
		top: 3px
		cursor: pointer
		+r(768)
			top: 6px
		&:hover
			border: none
			background: transparent
		span.ui-icon
			+r(768)
				left: auto
				top: auto
				margin-left: 0
				margin-top: 0
	.ui-datepicker-prev
		left: auto
		right: 27px
		+r(768)
			right: 43px
		.ui-icon
			+svg(calendar-left,19,19)
			+r(768)
				+svg(calendar-left,29,29)
	.ui-datepicker-next
		right: 2px
		.ui-icon
			+svg(calendar-right,19,19)
			+r(768)
				+svg(calendar-right,29,29)
	.ui-datepicker-year
		display: none
	.ui-state-default, 
	.ui-widget-content .ui-state-default, 
	.ui-widget-header .ui-state-default
		height: 2.7em
		+box
		border-color: $yellow
		background: $yellow
	.ui-state-highlight
		color: $black
		border-color: $white
		background: $white
	table
		color: $black
		margin-top: 9px
		font-size: 11px
		+lb
		span,
		a
			padding: 1em .2em .2em .2em
			transition: background .2s, border-color .2s
			text-align: left
		td
			&.is-select
				span,
				a
					cursor: default
					color: $white
			.ui-state-hover
				background: $white 
				border-color: transparent 
	thead
		text-transform: uppercase
		font-size: 9px
		+lb
		border-bottom: 3px solid #fff
		background: $yellow
		th
			padding: 0.56em .3em