<!-- header -->
<header class="header">
	<div class="header__in">
		<div class="header__row">
			<!-- stud-name -->
			<div class="stud-name">
				<p>Давиденко</p>
				<p>Максим</p>
			</div>
			<!-- logout -->
			<div class="logout">
				<!-- lang -->
				<div class="lang">
					<li><a href="#">en</a></li>
					<li class="ua"><a href="#">ua</a></li>
				</div>
				<a href="#" class="logout__link">
					<i class="icon icon-logout"></i>
				</a>
			</div>
		</div>
		<div class="header__row">
			<!-- steps -->
			<div class="steps">
				<div class="step">
					<date class="date">з 5.06.15 по 5.09.15</date>
					<div class="progress">
						<div class="progress__in" style="width:40%;"></div>
					</div>
					<div class="step__bot">
						<span>Степ 1</span> 
						<span class="step__stat">(зараз)</span>
					</div>
				</div>
				<div class="step">
					<date class="date">з 5.06.15 по 5.09.15</date>
					<div class="progress">
						<div class="progress__in" style="width:40%;"></div>
					</div>
					<div class="step__bot">
						<span>Степ 2</span> 
						<span class="step__stat">(зараз)</span>
					</div>
				</div>
				<div class="step">
					<date class="date">з 5.06.15 по 5.09.15</date>
					<div class="progress">
						<div class="progress__in" style="width:40%;"></div>
					</div>
					<div class="step__bot">
						<span>Степ 3</span> 
						<span class="step__stat">(зараз)</span>
					</div>
				</div>
				<div class="step">
					<date class="date">з 5.06.15 по 5.09.15</date>
					<div class="progress">
						<div class="progress__in" style="width:40%;"></div>
					</div>
					<div class="step__bot">
						<span>Степ 4</span> 
						<span class="step__stat">(зараз)</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>