<!-- header -->
<header class="header is-home js-header is-init">
	<div class="header__in">
		<div class="header__left">
			<!-- lang -->
			<ul class="lang">
				<li><a href="#"><span>EN</span></a></li>
				<li><a href="#"><span>UK</span></a></li>
			</ul>
			<!-- login -->
			<div class="login js-login">
				<button type="button" class="login__btn js-btn-login">
					<i class="icon icon-user"></i>
				</button>
				<!-- popup --> 
				<div class="popup js-popup is-active">
					<div class="popup__in">
						<button class="popup__close js-popup-close"><i class="icon icon-close"></i></button>
						<div class="popup__wrap">
							<h3 class="popup__title">Попасть в личный <br>кабинет не удалось</h3>
							<div class="popup__row">Для входа в личный кабинет необходимо <br>оплатить стоимость обучения. </div>
							<div class="popup__row">
								<img src="img/svg/login-error.svg" alt="img">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- logo -->
		<a href="#" class="logo"></a>
		<div class="header__menu">
			<!-- menu -->
			<div class="menu js-menu">
				<button class="menu__btn js-btn-menu">
					<span>меню</span>
				</button>
				<ul class="menu__list">
					<li><a href="#">Цена</a></li>
					<li class="is-active"><a href="#">Курс</a></li>
					<li><a href="#">График</a></li>
					<li><a href="#">Учебник</a></li>
					<li><a href="#">Офис</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>