<!-- header -->
<header class="header">
	<div class="header__in">
		<div class="header__left">
			<a href="#" class="lang">UKR</a>
			<div class="login">
				<button type="button" class="login__btn">
					<i class="icon icon-user"></i>
				</button>
				<div class="login__form">
					<form action="">
						<div class="login__row">
							<label for="login" class="login__label">Логин</label>
							<input type="text" name="login" id="login" class="input">
						</div>
						<div class="login__row">
							<label for="password" class="login__label">Пароль</label>
							<input type="password" name="password" id="password" class="input">
						</div>
						<div class="login__bott">
							<button class="btn" type="submit">ВОЙТИ</button>
							<a href="#" class="forgot">Я забыл пароль:(</a>
						</div>
					</form>
				</div>
			</div>
			<div class="play">
				<a href="#" class="play__btn">
					<i class="icon icon-play"></i>
				</a>
			</div>
		</div>
		<a href="#" class="logo"></a>
		<!-- menu -->
		<div class="menu js-menu">
			<button class="menu__btn js-btn-menu">
				<span>MENU</span>
			</button>
			<ul class="menu__list">
				<li><a href="#">Цена</a></li>
				<li><a href="#">Курс</a></li>
				<li><a href="#">График</a></li>
				<li><a href="#">Учебник</a></li>
				<li><a href="#">Офис</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
</header>