<!-- header -->
<header class="header is-home">
	<div class="header__in">
		<div class="header__left">
			<!-- lang -->
			<ul class="lang">
				<li><a href="#"><span>EN</span></a></li>
				<li><a href="#"><span>UK</span></a></li>
			</ul>
			<!-- login -->
			<div class="login js-login">
				<button type="button" class="login__btn js-btn-login">
					<i class="icon icon-user"></i>
				</button>
				<!-- popup --> 
				<div class="popup js-popup">
					<div class="popup__in">
						<button class="popup__close js-popup-close"><i class="icon icon-close"></i></button>
						<div class="popup__wrap">
							<h3 class="popup__title">Вход <br>в личный кабинет </h3>
							<form action="" class="popup__form">
								<div class="field">
									<label for="phone" class="field__label">
										<i class="icon icon-phone"></i>
									</label>
									<input type="text" name="phone" id="phone" class="input js-input-phone">
								</div>
								<div class="field">
									<label for="password" class="field__label">
										<i class="icon icon-key"></i>
									</label>
									<input type="passwod" name="password" id="password" class="input js-input-password">
								</div>
								<div class="popup__check">
									<label class="checkbox">
										<input type="checkbox" checked>
										<span>Запомнить меня</span>
									</label>
								</div>
								<div class="popup__butt">
									<button class="btn" type="submit">ВОЙТИ</button>
								</div>
								<div class="popup__chenge">
									<a href="#">Изменить пароль</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- logo -->
		<a href="#" class="logo"></a>
		<!-- menu -->
		<div class="menu js-menu">
			<button class="menu__btn js-btn-menu">
				<span>MENU</span>
			</button>
			<ul class="menu__list">
				<li><a href="#">Цена</a></li>
				<li class="is-active"><a href="#">Курс</a></li>
				<li><a href="#">График</a></li>
				<li><a href="#">Учебник</a></li>
				<li><a href="#">Офис</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
</header>